:root {
  --color-primary: purple;
  --color-secondary: yellow;
  --color-header: black;
  --color-body: navy;
  --color-accent: blue;
  --border-color: silver;
  --border-radius: 6px;
}

ul {
  list-style: none;
}

/* Navbar */

.nav {
  background: var(--color-header);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border: 5px;
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  color: var(--color-primary);
  width: 100%;
}

.nav_list {
  width: 100%;
  margin: 0;
}

.nav_item {
  padding: 0.5rem 2rem;
}

.nav_item > a {
  color: var(--color-text);
  transition: color 0.3s;
  text-decoration: none;
}

.nav_item > a:hover {
  color: var(--color-secondary);
}

.nav_brand {
  color: var(--color-primary);
  padding: 10px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .nav_list {
    width: auto;
    display: flex;
    font-size: 1.5rem;
    max-height: 100%;
    opacity: 1;
  }
}

.logo {
  height: 150px;
}

.main_header {
  display: flex;
}

/* page */

.page {
  padding: 0px;
}

.page-dark {
  background-color: pink;
}

.hero {
  table-layout: auto;
}

.grid {
  display: grid;
}

.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.page_header {
  text-align: center;
}

.page_heading {
  width: 100%;
}

.page_image {
  width: 100%;
}

.page_tagline {
  font-size: 1.5rem;
  color: black;
  letter-spacing: 6px;
  margin: 1.5rem 0 5.5rem;
}

/* button */

.btn {
  border-radius: 30px;
  border: white;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 650;
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  text-align: center;
}

.btn-primary {
  background-color: var(--color-body);
  color: silver;
}

/* badge */

#widget-grid {
  background-color: silver;
}

.badge {
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 0.5rem;
}

.promo_para {
  font-weight: bold;
  font-size: 2rem;
}

.badge--primary {
  background-color: var(--color-primary);
  color: white;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: black;
}

.badge--small {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 1.5em;
  font-weight: bold;
}

.custom-input {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  color: var(--color-header);
  font-size: 1.5rem;
  outline: 0;
  width: 75%;
}

#input-div {
  padding: 10px;
  background-color: var(--color-body);
  display: flex;
}

.search-btn {
  width: 25%;
  color: pink;
  text-decoration: none;
  font-size: 45px;
  padding: 10px;
  background-color: white;
  margin: 7px;
}

/* Card */

#cards {
  background-color: black;
}

::placeholder {
  color: lightgray;
}

.shoe {
  border-radius: 6px;
  box-shadow: 0 0 15px 10px red;
  overflow: hidden;
  width: 50%;
  height: 50%;
  color: white;
}

.hoodie {
  border-radius: 6px;
  box-shadow: 0 0 15px 10px navy;
  overflow: hidden;
  width: 50%;
  height: 50%;
  color: white;
}

.headband {
  border-radius: 6px;
  box-shadow: 0 0 15px 10px yellow;
  overflow: hidden;
  width: 50%;
  height: 50%;
  color: white;
}

.card_header {
  font-size: 1.5rem;
}

.card_header,
.card_body {
  padding: 1.5rem 2rem;
}

.card-img img {
  width: 100%;
}

.card-wrapper > .card {
  width: 35%;
  box-sizing: border-box;
}

.card-wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

/* Icon */

.icon-container {
  background-color: var(--icon-back);
  width: 64px;
  height: 64px;
  border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#icon-div > p {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: red;
}

#icon-div {
  background-color: yellow;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon-primary {
  fill: var(--color-accent);
}

/* Footer */

.footer {
  background-color: black;
  color: white;
  padding: 12px;
  text-align: center;
}
